.basic
{
font-size:16px;
font-weight:bold;
box-sizing:border-box;
text-overflow:ellipsis;
text-decoration:none;
}
.basic :hover
{
overflow:visible;
}


.basic .act
{
font-size:2em;
font-family:STXingkai,"Microsoft YaHei",Simsun,sans-serif;
color:blue;
text-align:center;
display:block;
}
.basic .sys1
{
font-size:1.5em;
font-family:KaiTi,"Microsoft YaHei",Simsun,sans-serif;
color:red;
display:block;
}
.basic .sys2
{
font-size:1.2em;
font-family:KaiTi,"Microsoft YaHei",Simsun,sans-serif;
color:red;
display:block;
}
.basic .sys3
{
font-size:1.2em;
font-family:KaiTi,"Microsoft YaHei",Simsun,sans-serif;
color:red;
display:inline-block;
}


.basic .vip
{
color:red;
}
.basic .info
{
color:blue;
}
.basic .bonus
{
color:orange;
}
.basic .detail
{
color:gray;
}
.basic .adds
{
color:silver;
}


.basic .origin
{
max-width:100%;
}
.basic .max
{
width:100%;
}
.basic .centerin
{
text-align:center;
}
.basic .centerout
{
margin:auto;
}
.basic .round
{
border-radius:4px;
}


.basic ol
{
font-size:0.9em;
font-weight:normal;
}
.basic ol>p
{
font-size:0.9em;
font-weight:lighter;
color:gray;
text-indent:1em;
}



#title
{
font-size:18px;
font-family:KaiTi,"Microsoft YaHei",Simsun,sans-serif;
text-align:center;
}
#title .p1
{
font-style:italic;
color:magenta;
text-align:left;
}
#title .p2
{
color:green;
text-align:right;
}
#title .rainbowtext
{
font-size:2em;
text-align:center;
}




.basic .rainboworigin
{
background:linear-gradient(to right,red 12%,orange 19%,yellow 22%,green,blue,indigo,violet,indigo,blue,green 78%,yellow 81%,orange 88%,red);
-webkit-background-clip:text;
color:transparent;
width:fit-content;
margin:auto;
}
.basic .rainbowtext
{
background:linear-gradient(to right,red,orange,green,blue,indigo,violet);
-webkit-background-clip:text;
color:transparent;
width:fit-content;
margin:auto;
}

.basic div.mybox
{
box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
width:100%;
margin:50px 5px;
padding:10px 20px;
box-sizing:border-box;
display:block;
}

.basic div.transbox
{
background:linear-gradient(to bottom, rgba(230,230,250,0.6),rgba(230,230,250,0.3));
box-shadow:0 0 10px rgba(100,149,237,0.5);
margin:5px;
padding:5px;
}

.basic .mybutton
{
background:linear-gradient(to bottom, rgba(245,245,245,0.5),rgba(220,220,220,0.5));
box-shadow:0.5px 0.5px 8px rgba(0,0,0,0.2);
border-radius:4px;
padding:2px 10px;
text-align:center;
display:inline-block;
transition:background 0.5s ease;
}
.basic .mybutton:hover
{
background:linear-gradient(to bottom, rgba(245,245,245,0.8),rgba(220,220,220,0.8));
cursor:pointer;
}

.basic div.mycard
{
background-color:white;
box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border:1px solid white;
border-radius:4px;
width:fit-content;
box-sizing:border-box;
text-align:center;
}
.basic div.cardinfo
{
background:linear-gradient(to bottom, Orchid, MediumOrchid, DarkOrchid);
border:1px solid white;
border-radius:4px;
font-size:0.75em;
font-weight:lighter;
color:white;
text-align:center;
}
.basic div.cardinfo:hover
{
font-weight:inherit;
}



.link
{
font-size:16px;
font-weight:normal;
text-align:center;
margin:30px;
}
.link p
{
font-weight:bold;
color:plum;
}
.link a
{
color:mediumSlateBlue;
text-decoration:none;
}
.link a:hover
{
font-weight:bold;
text-decoration:underline;
}
